html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid {
    margin-top: 10px;
}

.grid div:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}