﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Volvo Truck Management</h1>    
    <p>.NET 6 Core Web & .NET 6 Core API</p>
    <p>Simple truck Management.</p>
</div>

@section Scripts {
    <script>$(document).ready(() => {new Image().src = _call.apiUrl;});</script>
}
