﻿@page
@model volvo.truck.web.Pages.ModelModel
@{
    ViewData["Title"] = "Model";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-page="/Index"><b>Home</b></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Model</li>
  </ol>
</nav>

<div class="text-center">
    <h1 class="display-4">Model Year List</h1>
    <p>Editing not allowed.</p>
</div>

<table class="table table-striped" id="list-item">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Enabled</th>      
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">0</th>      
      <td colspan="3">No Register(s) in DataBase</td>
    </tr>
  </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            _call.get(
                _call.truckModelPoint + 'get/',
                function (data){
                    let list = $('#list-item').find('tbody');

                    if (data.length > 0)
                        list.html('');

                    data.each(function(i){
                        let current = data[i];
                        list.append($('<tr>')
                            .append($('<th>')
                                .attr({ 'scope': 'row' })
                                .html(i+1))
                            .append($('<td>')
                                .html(current.id))
                            .append($('<td>')
                                .html(current.name))
                            .append($('<td>')
                                .html(current.enabled?'Yes':'No'))
                        );
                    });
                }
            );
        });        
    </script>
}