﻿@page
@model volvo.truck.web.Pages.TruckModel
@{
    ViewData["Title"] = "Truck";
}

<div class="modal fade" id="ChangeTruck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="ChangeTruckForm">
          <div class="grid">
            <div>Name:</div>
            <div><input type="text" class="form-control" required="required" id="fname"></div>
          </div>
          <div class="grid">
            <div>Model:</div>
            <div><select class="form-select" aria-label="Model" id="fmodel"><option value="0">Select a truck model</option></select></div>
          </div>
          <div class="grid">
            <div>Model year:</div>
            <div><select class="form-select" aria-label="Model Year" id="fmodelyear"><option value="0">Select a truck model year</option></select></div>
          </div>
          <div class="grid">
            <div>Manufature year:</div>
            <div><select class="form-select" aria-label="Manufature Year" id="fmanufatureyear"><option value="0">Select a manufature year</option></select></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="fclose">Close</button>
        <button type="button" class="btn btn-primary" id="fsend">Save changes</button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-page="/Index"><b>Home</b></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Truck</li>
  </ol>
</nav>

<div class="text-center">
    <h1 class="display-4">Truck List</h1>
    <p>Editing allowed.</p>
</div>

<button type="button" class="btn btn-primary fclose" data-bs-toggle="modal" data-bs-target="#ChangeTruck" tabindex="-1">
  Add Truck
</button>

<table class="table table-striped" id="list-item">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Model Year</th>
      <th scope="col">Manufature Year</th>
      <th scope="col">Enabled</th>
      <th scope="col" colspan="2">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">0</th>      
      <td colspan="8">No Register(s) in DataBase</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary fclose" data-bs-toggle="modal" data-bs-target="#ChangeTruck" tabindex="-1">
  Add Truck
</button>

@section Scripts {
    <script>
        $(document).ready(function() {            
            _call.get(
                _call.truckEndPoint + 'get',
                function (data){
                    let list = $('#list-item').find('tbody');
                    if (data.length > 0) list.html('');
                    data.each(function(i){ list.append(_truck.table.main(data[i], i+1)); });
                    _page.loadSelect();
                    _truck.bindForm(list);
                }
            );            
            HTMLElement.prototype.focus = function () { return false; }
        });
    </script>
}
